
<h1>{{title}}</h1>

<button id="clickme">
    Click Me
</button>

<script>
    const button = document.getElementById('clickme')
    button.addEventListener('click', () => {
        alert('Hello world rocket')
    })
</script>